body {
    margin: 0;
    padding: 0;
    align-items: 
    justify-content: 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



h1 {
    font-size: 300px;
    font-weight: 100;
    justify-content: center;
    display: flex;
    margin-bottom: 0px;
    padding-bottom: 10px;
}


h3 {
    font-size: 50px;
}


.home {
    padding: 10px;
    display: center;
    margin: 10px; 
}

#Anita{
    font-size: 10px;
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    white-space: 0.90px;
}

h4 {
  font-size: 20px;
}


p.solid {
    border-style: solid;
}

.home {
    padding: 10px;
    display: flex;
}



#navbarNav {
    font-size: 20px;
    background-color:darkblue;
    padding: 10px;  
}

#home2 {
    padding: 10px;
}

.img-fluid {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-top: 10px;
}

 #lists{
    font-size: 20px;
    display: center;
}

.subheading {
padding-top: 10px;
font-size: 20px;
justify-content: center;
   display: flex;
}


#video {
    justify-content: center;
    display: flex;

}

iframe {
    justify-content: center;
    display: flex;
    margin: auto;
}

#Timeline {
padding: 10px;
}

